@import url(//fonts.googleapis.com/css?family=Roboto:normal,bold);

@font-face {
    font-family: 'OriginalFontFam';
    src: local('IPAPGothic'), local('MSPGothic');
}
 
$base-color: #d8e2fd;
$head-color: hsla(224,10.0%,82.0%,1.0);
$inner-color: hsla(224,30.2%,96.0%,1.0);

$content-vertical-margin: 30px;
$content-vertical-padding: 12px;
$content-horizontal-padding: 10px;

html {
    height: 100%;
}

body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
    font-family: "Roboto", "OriginalFontFam";
    background-image: url("../images/zikannai.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-flow: column;
}

$info-box-margin: 10px;

h1 {
    margin-top: $info-box-margin;
    margin-bottom: $info-box-margin;
    font-size: 24px;
}

h2 {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}

ul {
    list-style-type: square;
}

.link {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: $base-color;

    a {
        text-decoration: none;
    }

}


blockquote {
    font-style: italic;

    p:last-of-type {
        font-size: small;
        text-align: end;
    }
}

$left-top-corner-radius: 2px;
$right-top-corner-radius: 2px;
$right-bottom-corner-radius: 10px;
$left-bottom-corner-radius: 2px;

$fancy-corner-radius: $left-top-corner-radius $right-top-corner-radius $right-bottom-corner-radius $left-bottom-corner-radius;

$fancy-vertical-margin: 10px;

article {
    flex: 0 1 auto;

    section {
        border-radius:  $fancy-corner-radius;
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: rgba($base-color, 0.2);
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: rgba($base-color, 0.2);

        padding-top: $content-vertical-padding;
        padding-right: $content-horizontal-padding;
        padding-left: $content-horizontal-padding;
        padding-bottom: $content-vertical-padding;

        background-color: rgba($base-color,0.4);

        h1 {
            border-bottom-style: solid;
            border-bottom-width: 8px;
            border-bottom-color: $head-color;
            padding-right: 5px;
            display: table;
            font-family: "Roboto";
            font-weight: bold;
        }
    }
}

footer {

    padding: $content-vertical-padding $content-horizontal-padding $content-vertical-padding 0px;
}

div {

    &#header {
        margin-bottom: $content-vertical-margin;
        padding: $content-vertical-padding 0px $content-vertical-padding 0px;
        background-color: rgba($base-color,0.9);
        flex: 0 1 auto;

        #navigation {
            text-align: right;
            font-family: "Roboto";
            font-weight: bold;
            padding-right: $content-horizontal-padding;

            a {
                color: black;
                font-size: 18px;
                font-weight: bold;
                margin-left: 12px;
                margin-right: 5px;
                text-decoration: none;
                text-transform: uppercase;
            }

            span {
                border: 2px solid $inner-color;
                border-radius: 0.2em;
                background-color: rgba($base-color,0.4);

                &:hover {
                    border-color: black;

                    a {
                        color: silver;
                    }
                }
            }
        }
    }

    &#footer {
        color: $inner-color;
        font-size: 12px;
        margin-top: calc(#{$content-vertical-margin} - #{$fancy-vertical-margin});
        text-align: right;
        background-color: rgba($base-color,0.9);
        flex: 1 1 auto;

		#fancy-footer {
			height: $fancy-vertical-margin;
			background: #ffffffe6;
			border-radius: $fancy-corner-radius;
		}
    }

    &.info {
        color: #555;
        font-size: 14px;
        font-style: italic;
    }

    &.info-box {
        margin-bottom: $info-box-margin;
    }

    &.figure img {
        max-height: 100%;
        max-width: 100%;
    }

	&#inner-content {
        background-color: $inner-color;
        border-radius: 2px 2px 2px 2px;

        padding-top: $content-vertical-padding;
        padding-right: $content-horizontal-padding;
        padding-left: $content-horizontal-padding;
        padding-bottom: $content-vertical-padding;

	}
}
